<h1>Tweet一覧</h1>
<h3>一覧ページ</h3>

<%= link_to "新規投稿へ", new_tweet_path %>
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <%= link_to t.user.name, user_path(t.user.id) %>
      <%= t.user.email %>
      <%= t.title %></p>
      <%= t.category %></p>
      <%= t.body %></p>
      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= button_to "削除する", tweet_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>