<h1>Tweet投稿</h1>
<h3>新規投稿ページ</h3>

<%= form_for @tweet do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title, :size => 30 %>
  </div>

# データ型がstringで選択式の入力フォーム
  <div class="field">
    <%= f.label :category, "カテゴリ" %>
    <%= f.select :category, 
     [["学校", "学校"],
      ["仕事", "仕事"],
      ["趣味", "趣味"]],
    include_blank: "選択して下さい" %>
  </div>

# データ型がintegerで数字のみを入力するフォーム
  <div class="field">
    <%= f.label :priority, "優先度" %>
    <%= f.number_field :priority, :size => 10 %>
  </div>

# データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :body, "本文" %>
    <%= f.text_area :body, :size => "30x2" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>